/* ====================== 
   Base Element Styles 
======================= */
* {
    box-sizing:border-box;
}

body {
    font-family: 'Gothic A1', sans-serif;
    color:rgb(70, 69, 69);
    background: rgb(247,237,226,1);
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
    margin: 10px;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 1.8em;
    padding: 5px;
}

h3, h2, a {
    color:rgb(70, 69, 69);
    font-size: 18px;
    padding: 5px;
    margin: 0;
}

h2 {
    font-weight: bold;
    padding-top: 20px;
}

h4 {
    font-size: 14px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

img {
    max-width: 100%;
    padding: 10px;
}

/* --- header/top-navigation --- */

.name {
    font-size: 1.35em;
    color:rgb(155, 107, 84);
}

.main-nav {
    margin-top: 5px;
}

.name a,
.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}

.main-nav a {
    font-size: .95em;
    color:rgb(70, 69, 69);
    text-transform: uppercase;
}
.main-nav a:hover {
    color: white;
}

.intro {
    font-size: 18px;
}

.nav-links:hover {
    background-color: rgb(245, 202, 195);
    border-radius: 5px;
    transition: all .5s;
}

/*--- intro header ---*/ 

#banner {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    max-width: 1100px;
}

#pp-image,
#intro-paragraph {
    margin: 5px;
    min-height: 250px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
}


/* --- main --- */

main {
    background-color: white;
    text-align: center;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    z-index: 100;
    transition: all 0.5s;
}
.title {
    display: block;
    padding: 15px;
}
#container,
#container-skills {
    margin: 0 auto;
    max-width: 1100px;
    padding: 10px;
}

.item,
.skills {
    margin:10px;
    min-height: 250px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
}

#container-skills {
    flex: 1 300px;
    padding: 1rem;
    text-align: center;
}

.skills-title,
.skills-p {
    color: rgb(79, 113, 104);
    text-align: left;
    padding:5px;
}

.skills,
#skills {
    align-items: center;
    background-color: rgb(247,237,226,1);
}

.logo {
    width: 60px;
    height: 60px;
    float: left;
    padding: 6px;
    box-shadow: -1px 2px 2px rgb(246 189 96);
    transition: all 200ms ease-out;
}

#market:hover,
#map:hover {
    border-radius: 4px;
    transition: all .5s;
    background-color: rgba(246, 189, 96,  0.201);
}

#search:hover,
#gallery:hover {
    border-radius: 4px;
    transition: all .5s;
    background-color: rgb(242, 132, 130,  0.201);
}

#travel:hover,
#calculator:hover {
    border-radius: 4px;
    transition: all .5s;
    background-color: rgb(132, 165, 157,  0.201);
}

/* --- footer --- */

.footer-nav {
    display: flex;
    justify-content: space-between;
}

#large-nav {
    display: none;
}

#large-nav a:hover,
 #small-nav a:hover {
    color: peru;
}

footer {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 13px;    
}

#contact {
    background-color: rgba(245, 202, 195, 1);
    padding: 1rem 1rem;
}

#contact-info {
    font-size: 16px;
}

#contact-info a:hover {
    color:sienna;
    background-color: rgba(255, 253, 253, 0.315);
}


/* ================================================ 
                Media Queries
================================================ */ 

@media (min-width: 768px) {

    .main-nav a:hover {
        color: peru;
    }

    .nav-links:hover {
        background-color: rgb(247,237,226,1);
    }
    
    #small-nav {
        display: none;
    }

    #top-container {
        margin: auto;
        justify-content: center;
        align-items: center;
    }    

    .main-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    
    #container,
    #container-skills {
        display: flex;
        flex-wrap: wrap;
    }

    .item,
    .skills {
        flex-basis: calc(50% - 20px);
    }
   
    #banner {
        display: flex;
        flex-direction: row-reverse;
    }

    #pp-image,
    #intro-paragraph {
        flex-basis: calc(50% - 20px);
    }

    #small-nav {
        display: none;
    }

    #large-nav {
        display:flex;
    }

    #market:hover,
    #map:hover {
        border-radius: 4px;
        transition: all .5s;
        background-color: rgb(246, 189, 96,  0.201);
    }

    #gallery:hover,
    #search:hover {
        border-radius: 4px;
        transition: all .5s;
        background-color: rgb(242, 132, 130,  0.201);
    }

    #travel:hover,
    #calculator:hover {
        border-radius: 4px;
        transition: all .5s;
        background-color: rgb(132, 165, 157,  0.201);
    }
}

@media (min-width: 1024px) {

    #top-container { 
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .item,
    .skills {
        flex-basis: calc(33% - 20px);
    }

    #market:hover,
    #calculator:hover {
        border-radius: 4px;
        transition: all .5s;
        background-color: rgba(246, 189, 96, 0.201);
    }

    #map:hover,
    #search:hover {
        border-radius: 4px;
        transition: all .5s;
        background-color: rgb(242, 132, 130, 0.201);
    }

    #travel:hover,
    #gallery:hover {
        border-radius: 4px;
        transition: all .5s;
        background-color: rgb(132, 165, 157, 0.201);
    }

}